/* Juan Alberto Cuevas Juarez 06/06/2024 estilos para productos.css */

header {
    background-color: #BBBBBB;
    padding: 20px 0; /* espacio interno de 20px para bottom and top y 0px para laterales */
}

/* clase .caja para Logo y menu de navegacion donde se encapsulan y puedan centrarse*/
.caja {
    width: 940px;        /* un 70% de ancho para logo y menu de un total de 1280px formato*/
    position: relative;  /*por default su position: static cambiar a relative para centrar ambos elementos */
    margin: 0 auto;      /* buttom and top 0  y automatico para bordes*/
    /* auto porque 940px de ancho, entonces calcular de derecha a izq en funcion de resolucion cuanto colocar a la izquierda y drecha asi centrar */
}


nav {
    position: absolute; /* la navegacion de estar debajo del logo.png cambia de posicion a la izquierda */
    top: 110px;   /*logo.png del header tiene 250px de alto, calcular cuanto px debe tener asi estar a la mitad */
    right: 0;
}



nav li {
    /*anterior se vio que listas tiene default display block items ocupa 100% espacio de pagina, configurar comportamiento inline con tamaño de su contenido */
    display: inline;    /* navegacion horizontal */
    margin: 0 0 0 15px; /*margen interno que separa entre las letras HOME PRODUCTOS CONTACTO en 4 cuadrantes bottom:0px, top:0px, right:0px, left:15px */
    
}

/* configurar vinculo ancora etiqueta <a> */
nav a {
    text-transform: uppercase;  /* letras mayusculas*/
    color: #000000;
    font-weight: bold;         /* negrito */
    font-size: 22px;           /* tamaño de pagina */
    text-decoration: none;     /*retirar subrayado por defecto de vinculos */
}

/*capturar eventos y en funcion de ello ejecutar alguna cosa */
nav a:hover {    /*hover captura movimiento del maouse, encima del panel navegacion */
    color: #c78c19;/* color*/
    text-decoration: underline;

 }

.productos {
    /* misma tecnica de clase .caja*/
    width: 940px;  /*definir que todos los productos ocupen 940px */
    margin: 0 auto;
    padding: 50px; /*espacio entre el header y el main */
}

/* Calculos*/
.productos li {
    /*todos aquellos items de la lista */
    display: inline-block;  /* colocar elemntos de forma horizontal para configurar tamaños y espacios*/
    text-align: center; /*elemtos centrados  */
    /*distribuir separar cada uno de los elementos, debe tener tamaño ancho igual a 3 elemntos */
    width: 30%;  /* ocupe 1/3=30 del espacio para cada elemento se tiene un 90 para los 3 elemtos, el resto de 10% distriuir entre los espacios de cada uno de los elemntos */
    /*90% de espacio de los 940px */
    vertical-align: top;  /*una alineacion vertical de los elementos */
    /*background: #CCCCCC; */  /*color de cada elemento sirve como test para visualizar los errores y configuraciones */
    margin: 0 1.5%;          /*margen externo lateral,  espacio de 2 laterales de 1.5 para cada item, entonces 1.5 x 6 = 9 + 90% = 99% de espacio que esta ocupando de los 940px */ 
    padding: 30px 20px; /* separacion 30px vertical y 20px horizontal del elemento imagen con respecto a el encabezado h2, descripcion y precio */
    /*con padding: 30px 20px sobrepasa los 940px que se definio, donde se pasa del 99% de espaacio*/
    box-sizing: border-box; /*el borde cada item sera el limite de espacio que va a hacer definido, es decir que los 20px de padding de espacio interno no van a sobrepasar el 30% de width de ancho van a formar parte del 30%*/
    
    /*configurar bordes de cada item */
    border-color: #000000;  
    border-width: 2px;        /*ancho, en cambio de otra manera border-top-width: 10px; border arriba su ancho*/
    border-style: solid;      /* de tipo linea solida*/
    /* border: 2px solid #000000; configurar bordes de cada item forma resumida */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-radius: 10px 25px 40px 50px; border radius resumida */

}

.productos li:hover {
    border-color:#c78c19;
    
}

/*evento de elemento activo o click del mouse */
.productos li:active{
    border-color: #088c19;
}

.productos h2 {
    /* encabezado h2 letras*/
    font-size: 30px;
    font-weight: bold;

}

.productos li:hover h2 {
    font-size: 33px;
}

.producto-descripcion {
   font-size: 18px;
}

.producto-precio {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;  /*separa el precio con la descripcion */
}

footer {
    text-align: center; /* alinea el texto al centro*/
    background: url(imagenes/bg.jpg); /* utilizar opcion de url para agregar una imagen de fondo gris con background hace repeticiones ocupa toda pantalla */
    padding: 40px; /* espacio interno del footer 4 cuadrantes */
}

.copyright {
    color: #FFFFFF;  /*color */
    font-size: 13px;   /* disminuir su tamaño original que por defecto es de 16px*/
    margin: 20px;
}