/* selectores css  */
/* saltos de linea no se pintan, al analizar la estructura del index.html la etiqueta body contiene a h1 y parrafos p entonces hacer una regla de selector para body que pinte el fondo */


body {   
    
  }

 #banner {
    width: 100%; /* anchura de la imagen que ocupa el 100 % de la pantalla sea asi responsivo */
 } 

 /* reutilizar estilo con la clase .principal */
.principal {
    background: #CCCCCC;
}

h1 {
    text-align: center;            /* Texto alineado al centro */
    border: 10px solid #000000;  /*borde solido color negro */
    padding: 20px; /*espacio interno de 20px para 4 cuadrantes: padding-bottom,padding-top,padding-left,padding-right */
    margin: 40px;  /* espacio externo de 40px para 4 cuadrantes*/
}  

p {
    text-align: center;  
    /* background: #CCCCCC;  se elimina esta linea ya que se hace selector body */

}

  /* aplicar color para letra italica enfasis */
em strong {
    color: red;
}

/* llamar al id unico creado desde index.html con # y nombre del id */
#mision {
    font-size: 20px;
}


/* reutilizar estilo con la clase .diferenciales */
.diferenciales {
    background: #FFFFFF;
}


/*verificar en index donde esta ubicado la etiqueta h2 para poder aplicar estilo */
h2 {
    text-align: center;
}

/* Llamar a la clase items con punto y nombre de la clase*/
.items {
    font-style: italic;

}

