/* selectores css  */
/* saltos de linea no se pintan, al analizar la estructura del index.html la etiqueta body contiene a h1 y parrafos p entonces hacer una regla de selector para body que pinte el fondo */


body {   
    background: #CCCCCC;
  }

h1 {
    text-align: center;
}  

p {
    text-align: center;  
    /* background: #CCCCCC;  se elimina esta linea ya que se hace selector body */

}

  /* aplicar color para letra italica enfasis */
em strong {
    color: red;
}

/* llamar al id unico creado desde index.html con # y nombre del id */
#mision {
    font-size: 20px;
}


